{{ partial "head" . }}
  <body>
    <div id="wrap">

      <!-- Header -->
      {{ partial "header" . }}
      {{ if isset .Params "showpagemeta" }}
        {{ .Render "projects" }}
      {{ else }}
      <div class="container">
        <div class="blog-post">
          <h1>
            <strong><a href="{{ .Permalink }}">{{ .Title }}</a></strong>
          </h1>
        </div>
        <div class="blog-title">
          <h4>
          {{ .Date.Format "January 2, 2006" }}
            &nbsp;&nbsp;
            {{ range .Params.tags }}
            <a class="label label-success" href="/tags/{{ lower . }}">{{ . }}</a>
            {{ end }}
          </h4>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="blogpost">
              {{ if isset .Params "headerimage" }}
              <div class="header-image">
                <img src="/img/{{ .Params.headerImage }}" />
                <p>{{ .Params.headerImageCopyright | safeHTML }}</p>
              </div>
              {{ end }}
              {{ .Content }}
	      {{ partial "share" . }}
              <hr>
              <div class="related-posts">
                <h5>Related Posts</h5>
                {{ range first 3 ( where ( where .Site.Pages.ByDate.Reverse ".Params.tags" "intersect" .Params.tags ) "Permalink" "!=" .Permalink ) }}
                  <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                      <h6 style="text-align: right">
                        {{ .Date.Format "January 2, 2006" }}
                      </h6>
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-8">
                      <h6 style="text-align: left">
                        <strong><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></strong>
                      </h6>
                    </div>
                  </div>
                {{ end }}
              </div>
            </div>
          <hr>
        {{ partial "comments" . }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>

    <!-- Footer -->
    {{ partial "footer" . }}
    
  </body>
</html>
