<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ .Site.BaseURL }}"><i class="fa fa-home"></i></a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
      {{ if .Site.Menus.main }}
        {{ range sort .Site.Menus.main }}
        <li><a href="{{ .URL }}">{{ .Name | upper }}</a></li>
        {{ end }}
      {{ end }}
      </ul>
    </div>
  </div>
</nav>
