<div class="share">

    <form action="/share.php" method="GET"
	  class="share-buttons bottom" target="_blank">

	<input type="radio" name="popup" id="no-share-popup" value="none">
	<input type="hidden" name="ref" value="bottom">
	<input type="hidden" name="url" value="{{ .Permalink }}">
	<input type="hidden" name="title" value="{{ .Title }}">
	<input class="n" name="website" placeholder="keep empty">
      	{{ if (eq .Site.Params.Social.Share.Diaspora true) }}
	<!-- Diaspora -->
	<label class="button share-diaspora"
	       title="Share this page on Diaspora"
	       for="diaspora-share-bottom">Diaspora</label>
	<input type="radio" name="popup" id="diaspora-share-bottom" value="diaspora">
	<span class="popup diaspora">
	    <label for="no-share-popup"></label>
	    <input type="text" name="diasporapod"
		   value="" placeholder="Diaspora URL (diasp.tld)">
	    <button type="submit" name="service" value="diaspora">OK</button>
	</span>
       {{ end }}
	{{ if (eq .Site.Params.Social.Share.GNUSocial true) }}
	<!-- GNU Social -->
	<label class="button share-gnusocial"
	       title="Share this page on GNU Social"
	       for="gnusocial-share-bottom">GNU Social</label>
	<input type="radio" name="popup" id="gnusocial-share-bottom" value="gnusocial">
	<span class="popup gnusocial">
	    <label for="no-share-popup"></label>
	    <input type="text" name="gnusocialpod" value=""
		   placeholder="GNU Social URL (gnusocial.tld)">
	    <button type="submit" name="service" value="gnusocial">OK</button>
	</span>
	{{ end }}
	{{ if (eq .Site.Params.Social.Share.Mastodon true) }}
	<!-- Mastodon -->
	<label class="button share-mastodon"
	       title="Share this page on Mastodon"
	       for="mastodon-share-bottom">Mastodon</label>
	<input type="radio" name="popup" id="mastodon-share-bottom" value="mastodon">
	<span class="popup mastodon">
	    <label for="no-share-popup"></label>
	    <input type="text" name="mastodonpod" value=""
		   placeholder="Mastodon URL (e.g. mastodon.social)">
	    <button type="submit" name="service" value="mastodon">OK</button>
	</span>
	{{ end }}
	{{ if (eq .Site.Params.Social.Share.Reddit true) }}
	<!-- reddit -->
	<button type="submit" name="service" value="reddit"
		class="button share-reddit"
		title="Share this page on Reddit">Reddit</button>
	{{ end }}
	{{ if (eq .Site.Params.Social.Share.Twitter true) }}
	<!-- Twitter -->
	<button type="submit" name="service" value="twitter"
		class="button share-twitter"
		title="Share this page on Twitter">Twitter</button>
	{{ end }}
	{{ if (eq .Site.Params.Social.Share.HackerNews true) }}
	<!-- Hacker News -->
	<button type="submit" name="service" value="hnews"
		class="button share-hnews"
		title="Share this page on Hacker News">Hacker News</button>
	{{ end }}
	{{ if (eq .Site.Params.Social.Share.GooglePlus true) }}
	<!-- Google+ -->
	<button type="submit" name="service" value="gplus"
		class="button share-gplus"
		title="Share this page on Google+">Google+</button>
	{{ end }}
	{{ if (eq .Site.Params.Social.Share.Facebook true) }}
	<!-- Facebook -->
	<button type="submit" name="service" value="facebook"
		class="button share-facebook"
		title="Share this page on Facebook">Facebook</button>
	{{ end }}
    </form>
</div>
