{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong>, a Software Engineer.</h3>
        <h4>I love all things computer science and maths.</h4>
        <h4>Have a look at some of my working <a href="{{ .Site.BaseURL }}projects/"> projects</a>.</h4>
        <h4>For more check out my academic &amp; professional <a href="https://demo.nurlan.co/hugo-vitae/">resume</a>.</h4>
        <h4>Contact me by <a href="mailto:{{ .Site.Params.Social.Email }}">email</a>.</h4>
        {{ partial "social.html" . }}
	<div id="thought">
	  <a href="https://mastodon.social/@bjoern/17848245" title="Latest thought... Click to like, reshare or comment on Mastodon!">
	  <blockquote>"What you do makes a difference, and you have to decide what kind of difference you want to make." <cite>Jane Goodall</cite></blockquote></a>
	</div>
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
